body:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("https://images.unsplash.com/photo-1440581572325-0bea30075d9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: black;
  margin: 0px;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sort-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-container {
  display: flex;
  justify-content: center;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(49, 0, 49);
  color: white;
  width: 80%;
  margin: 14px;
  max-width: 800px;
  border-radius: 30px;
  /* border: 2px solid rgb(163, 139, 0); */
}

.question-wrapper {
  margin-bottom: 15px;
}

.question {
  padding: 15px;
  text-align: center;
}

.input-container {
  display: flex;
  margin: 5px;
}

.options {
  padding-top: 2px;
  margin-left: 10px;
}

/* fade sections */
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.submit {
  width: 20%;
  /* background-image: url("https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.cosforums.com%2Fshowthread.php%3Ft%3D132260&psig=AOvVaw0kEOPVp1AKbNQWMkhYPiKh&ust=1583963453764000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjf_enxkOgCFQAAAAAdAAAAABAH"); */
}

/* footer */
.footer-container {
  color: white;
  font-size: 12px;
  margin: 42px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.513);
  width: 100vw;
}
